body{
    z-index: 1;
}

/* Main content styling */

#main_content {
    box-sizing: border-box;
    background-color: white;
    /* height: 350vh; */
    padding: 3em 0 0 0;
    position: relative;
    
}

#landing_figure{
    position:relative;
    width: 100%;
}
#main_content figure img{
    width: 100%;
}

#main_content figure h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    font-family: SFNS-Display;
    color: white;
    font-size: 3.5em;
    white-space: nowrap;
    box-sizing: border-box;
    text-shadow: 0 0 10px black;
}




/* Landing page input */
#landing_input{
    width: 70%;
    background-color: white;
    border: none;
    border-radius: 0.5rem;
    z-index: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3em;
    border: solid 1px rgba(0,0,0,0.1);
}

.landing_input_top{
    position: relative;
    margin: -1.5em auto 0 auto;
}



#landing_input *{
    outline: none;
    border: none;
}

#landing_input input{
    font-family: SFNS-Text-Light;
    letter-spacing: -0.1em;
    box-sizing: border-box;
    font-size: 2em;
    padding:10px 10px 10px 0px;
    /* border:solid 1px black; */
    flex-grow: 3;
    height: 100%;

}

#landing_input button{
    letter-spacing: -0.1em;
    box-sizing: border-box;
    font-size: 2em;
    padding: 0 0.55em;
    float: right;
    flex-grow: 1;
    height: 100%;
}



/* Info box css styling */
.info_box{
    margin: 10em 0;
    width: 100%;
    position: relative;

}

.info_box_flex_container{
    display:flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}



/* Alternating image side, for each row. */
#info_box_wrapper .info_box:nth-child(odd) .info_box_flex_container{
    flex-direction: row-reverse;
}


/* Info box main content */
.info_box_main_img{
    width: 40%;
}

.info_box_header{
    font-family: SFNS-Display;
    font-size: 1.75em;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5em;
}

/* Icon list layout */
.icon_list_layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}



.icon_list_layout span{
    padding: 5px 7px;
    font-family:  SFNS-Text, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: -0.05em;
    color: #4F4F4F;
}


.icon_list_layout > img{
    /* Styling for individual icons in lists. */
    width:1.2em;
    height: 1.2em;
    box-sizing: border-box;
    color: #E5E5E5;
}




/* End content css styling */

#end_content{
    position: relative;
}

#end_input_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#end_input_wrapper h2{
    font-family: SFNS-Display;
    font-size: 2.5em;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 0 10px black;
}

.landing_input_bottom{
    position: relative;
}
